{% extends 'dokuwikiTranslatorBundle:Default:index.html.twig' %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="{{ path('dokuwiki_translator_homepage') }}">Home</a> <span class="divider">/</span></li>
    <li><a href="{{ path('dokuwiki_translator_plugins') }}">Plug-Ins</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Add a Plug-In</a></li>
</ul>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Plug-in Translation</h1>
            </div>
        </div>
        <div class="span8">
            <form action="{{ path('dokuwiki_translator_plugins') }}" method="post" class="form-horizontal">

                <div class="control-group">
                    <div class="control-label">
                        <label for="formMail">E-Mail address</label>
                    </div>
                    <div class="controls">
                        <input id="formMail" type="text" name="mail" class="input-xlarge"
                               placeholder="user@example.com" disabled="disabled" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label">
                        <label for="formGit">Git URL</label>
                    </div>
                    <div class="controls">
                        <input id="formGit" type="text" name="git" class="input-xlarge"  disabled="disabled"
                               placeholder="git://github.com/splitbrain/dokuwiki.git" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label">
                        <label for="fromName">Plug-in name</label>
                    </div>
                    <div class="controls">
                        <input id="fromName" type="text" name="name" class="input-xlarge"
                               placeholder="acl" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label">
                        <label for="formUrl">URL</label>
                    </div>
                    <div class="controls">
                        <input id="formUrl" type="text" name="url" class="input-xlarge"
                               placeholder="https://www.dokuwiki.org/plugin:acl" />
                    </div>
                </div>

                <div class="controls">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                    <input type="reset" class="btn" value="Reset" />
                    <a href="{{ path('dokuwiki_translator_plugins') }}" class="btn">
                        Abort
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}