{% extends 'dokuwikiTranslatorBundle:Default:index.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('dokuwiki_translator_homepage') }}">Home</a> <span class="divider">/</span></li>
        <li class="active"><a href="#">Add a Plug-In</a></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>Plug-in Added</h1>
                </div>
            </div>
            <div class="span8">
                <p>
                    Your plug-in has been added.
                    On the right you can see the information that will be displayed on the plug-in page.
                    If you want to change them just change them on your
                    <a href="https://www.dokuwiki.org/plugin:{{ repository.name }}"
                       title="{{ repository.displayName }}"
                       target="_blank">
                        plug-in page</a>.
                </p>
                <p>
                    We have send you an email with an activation link for your plug-in.
                    After you've clicked on it the plug-in will be listed in the tool.
                </p>
            </div>
            <div class="span4">
                {% include 'dokuwikiTranslatorBundle:Template:box.html.twig' %}
            </div>

        </div>
    </div>

{% endblock %}