{% extends 'dokuwikiTranslatorBundle:Default:index.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('dokuwiki_translator_homepage') }}">Home</a> <span class="divider">/</span></li>
        <li class="active"><a href="#">Add a Plugin</a></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>Plugin Added</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span8">
                <p>
                    Your plugin has been added, but needs to be activated first.
                </p>
                <p>
                    We have sent you an email with an <b>activation link</b> for your plugin.
                    After confirming your submission, your plugin will be available for translation.
                </p>
            </div>
            <div class="span4">
                {% include 'dokuwikiTranslatorBundle:Template:box.html.twig' %}
            </div>

        </div>
    </div>

{% endblock %}
