{% extends 'default/index.html.twig' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Page not found</h1>
            <p>
                The page you're looking for doesn't exist.
                You may want to go back to the
                <a href="{{ path('dokuwiki_translator_homepage') }}">start page</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}