<b>Notes</b>
<ul>
    <li>Your {{ form.vars.data.type }} needs to be available in a public Git repository</li>
    {% if showname %}
    <li>Your {{ form.vars.data.type }} has to be listed on the
        {%  if form.vars.data.type == 'plugin' %}
            <a href="https://www.dokuwiki.org/plugins">official plugins list</a>
        {% else %}
            <a href="https://www.dokuwiki.org/template">official template list</a>
        {% endif %}</li>
    {% endif %}
    <li>The repository clone URL must start with <em>ssh://</em>,
        <em>http://</em> <em>https://</em> or <em>git://</em>.
        Unfortunately not accepted: <em>git@...</em>. The URL ends normally with <em>.git</em></li>
    {% if showname %}
        <li>The {{ form.vars.data.type }} name is the name of your {{ form.vars.data.type }} folder (lower case, no special chars)</li>
    {% endif %}
    <li>If Readonly, submitting the English translations via this tool is disabled.</li>
    <li>
        It needs to use the <a href="https://www.dokuwiki.org/devel:localization">DokuWiki localization
            functions</a>
        with the following limitations:
        <ul>
            <li>No use of nested arrays in the $lang array except for the js sub array</li>
            <li>No code execution in your language files</li>
            <li>Only single line array value assignments</li>
            <li>Comments will be removed automatically in translations</li>
        </ul>
    </li>
</ul>
