<div class="well well-small">
    <p>
        <strong>Plugin Developers</strong>,<br />
        <a href="{{ path('dokuwiki_translator_plugin_add') }}">register your plugin for translation!</a>
    </p>
</div>