<div class="well well-small">
    <p>
        <strong>Plugin and Template Developers</strong>,<br />
        register <a href="{{ path('dokuwiki_translator_extension_add', {'type': 'plugin'}) }}">your plugin</a> or
        <a href="{{ path('dokuwiki_translator_extension_add', {'type': 'template'}) }}">your template</a> for translation!

    </p>
</div>