<div class="well well-small">
    <p>
        <strong>Plugin/Template Developers</strong>,<br />
        <a href="{{ path('dokuwiki_translator_extension_add', {'type': 'plugin'}) }}">register your plugin</a> or
        <a href="{{ path('dokuwiki_translator_extension_add', {'type': 'template'}) }}">register your template</a> for translation!

    </p>
</div>