{% extends 'default/index.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('dokuwiki_translator_homepage') }}">Home</a> <span class="divider">/</span></li>
        <li class="active">Thanks</li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>Thank you for your contribution!</h1>
                </div>
                <p>
                    Thank you for your contribution. Your translation will be sent to the developers for a review.
                </p>
            </div>

        </div>
    </div>

{% endblock %}
